#theBody{
	background-color: #0085C0;
}

#bigG{
	height: 150px;
	margin-bottom: -150px;
	margin-left: 40px;
}

#theHead{
	text-align: center;
	font-family: 'Walter Turncoat', cursive;
	font-size: 85px;
	margin-bottom: 20px;
	margin-top: 20px;
	border: 5px solid #E7F3F7;
	border-radius: 15px;
	margin-left: 365px;
	margin-right: 300px;
	background-color: 	#009BDE;
}
#theHead:hover{
	background-image: url(https://media.giphy.com/media/l41YePgsv92CTdTVe/giphy.gif);
	background-repeat: no-repeat;
	background-position: center;
	border: 5px solid #FAB857;
}
#theHead:after{
	content: "Gee Mail";
}
#theHead:hover:after{
	content: "Gee Whiz!";
	opacity: 0.3;
}

#side{
	margin-right: 1075px;
	margin-left: 15px;
	font-family: 'Walter Turncoat', cursive;
	font-size: 20px;
	padding-top: 25px;
}

#theCount:hover{
	color: #FAB857;
}

.list:hover{
	color: #FAB857;
}

#theInbox{
	margin-left: 235px;
	margin-top: -180px;
	margin-right: 115px;
	font-family: 'Delius', cursive;
}
#oBox{
	display: none;
	border: 2px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 5px;
	padding-left: 5px;
	background-color: #E7F3F7;
	border-radius: 10px;
	margin-left: 235px;
	margin-top: -180px;
	margin-right: 115px;
	font-family: 'Delius', cursive;
	text-align: center;
}
/*#theCloud{
	display: none;
	padding-left: 400px;
	margin-top: -90px;
}*/


.mainBlock{
	border: 2px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 5px;
	padding-left: 5px;
	background-color: #E7F3F7;
	border-radius: 10px;
}
.mainBlock:hover{
	background-color: #FAB857;
	color: white;
}

.theDate{
	text-align: right;
	float: right;

}

.theSender{
	float: left;
	font-size: 20px;

}

.theSubject{
	text-align: center;
	padding-bottom: 15px;

}

.theMessage{
	display:none;
}

